/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body { 
  font: 13px 'Helvetica Neue', Arial, sans-serif;
  background: #D8D5D2;
  color: #222;
  line-height: 1.6em;
}

a {
  color: #A2C;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #D26;
}

a:active {
  background: hsla( 0, 100%, 100%, 0.5 );
}

h1, h2 {
  font-weight: 100;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
}

h3, p, ul, ol, pre, dl {
  margin-bottom: 1.0em;
}

strong { font-weight: bold; }

/**** Docs ****/

.options dl dt { font-weight: normal; }

.options dl dt,
.options dl dd {
  float: left;
  padding: 0 1.2em;;
  background: #161616;
  line-height: 32px;
  height: 32px;
  margin: 0;
}

.options dl.header dt,
.options dl.header dd {
  background: #444;
}

.options dl .option-type {
  font-size: 13px;
  color: #AAA;
  font-style: italic;
}

.options dl dd {
  margin-left: 1px;
}

/**** Demos ****/

#container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  /*clear: both;*/
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}


.scrollbox{position:relative; width:190px; height:130px;}
.scrollbox .customScrollBox{position:relative; height:100%; overflow:hidden;}
.scrollbox .customScrollBox .container{position:relative; width:180px; top:0; float:left;}
.scrollbox .customScrollBox .content{clear:both;}
/*.scrollbox .customScrollBox .content p{padding:0 5px; margin:10px 0; font-family:Verdana, Geneva, sans-serif; font-size:13px; line-height:20px;}*/
/*.scrollbox .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}*/
.scrollbox .customScrollBox img{border:5px solid #fff;}
.scrollbox .dragger_container{position:relative; width:2px; height:120px; float:left; margin:5px 0 0 5px; background:#000; cursor:pointer -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; cursor:s-resize;}
.scrollbox .dragger{position:absolute; width:2px; height:20px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; cursor:pointer; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.scrollbox .dragger_pressed{position:absolute; width:4px; margin-left:-1px; height:20px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; cursor:s-resize;}

.scrollbox2{position:relative; width:190px; height:250px;}
.scrollbox2 .customScrollBox{position:relative; height:225px; overflow:hidden;}
.scrollbox2 .customScrollBox .container{position:relative; width:180px; top:0; float:left;}
.scrollbox2 .customScrollBox .content{clear:both;}
.scrollbox2 .customScrollBox .content p{padding: 5px; background: #D8D5D2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
/*.scrollbox2 .customScrollBox .content p{padding:0 5px; margin:10px 0; font-family:Verdana, Geneva, sans-serif; font-size:13px; line-height:20px;}*/
/*.scrollbox2 .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}*/
.scrollbox2 .customScrollBox img{border:5px solid #fff;}
.scrollbox2 .dragger_container{position:relative; width:2px; height:215px; float:left; margin:5px 0 0 5px; background:#000; cursor:pointer -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; cursor:s-resize;}
.scrollbox2 .dragger{position:absolute; width:2px; height:20px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; cursor:pointer; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.scrollbox2 .dragger_pressed{position:absolute; width:4px; margin-left:-1px; height:20px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; cursor:s-resize;}






.col   { width: 420px; height: 420px; }
.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

/**** Gutters ****/

.has-gutters .box {
  margin: 5px 0;
}

.has-gutters .col1 { width: 90px; }
.has-gutters .col2 { width: 230px; }
.has-gutters .col3 { width: 370px; }
.has-gutters .col4 { width: 550px; }

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}


/* Tumblelog example */

#tumblelog {
  background: #FFF;
  padding: 1.0em;
}

#tumblelog .story {
  margin: 10px;
  border-top: 4px solid #DCB;
  padding-top: 10px;
  background: #FFF;
  float: left;
}

#tumblelog h1, #tumblelog h2, #tumblelog h3 { font-weight: bold;}

#tumblelog .col1 { width: 220px;}
#tumblelog .col2 { width: 460px;}
#tumblelog .col3 { width: 700px;}

#tumblelog .col1 img,
#tumblelog .col2 img,
#tumblelog .col3 img {
  max-width: none;
}

/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/**** Fluid ****/

#container.fluid  {
  padding: 5px 0;
}

.fluid .box {
  margin: 5px 1%;
  padding: 5px 1%;
}

.fluid .box.col1 { width: 16%; }
.fluid .box.col2 { width: 36%; }
.fluid .box.col3 { width: 56%; }

/**** Corner stamp ****/

.corner-stamp {
  /*width: 280px;
  height: 340px;*/
  padding: 10px;
  margin: 10px;
  float: right;
  background: red;
  color: white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Sentiment */
.sentimentR {
    height: 15px;
    float: left;
    overflow: hidden;
    
    line-height: 15px;
    color: white; 
    font-size: 12px;
    text-align: center; 
    
    background: #A30006;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F03C02), color-stop(.4, #C21A01), color-stop(.6, #A30006), to(#6B0103));  
}

.sentimentN {
    height: 15px;
    float: right;
    overflow: hidden;
    
    line-height: 15px;
    color: white; 
    font-size: 12px;
    text-align: center;
    
    background:  #a6a6a6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a6a6a6), color-stop(.4, #7c7c7c), color-stop(.6, #5b5b5b), to(#3d3d3d));  
}

.sentimentG {
    height: 15px;
    float: right;
    overflow: hidden;
    
    line-height: 15px;
    color: white; 
    font-size: 12px;
    text-align: center;
    
    background:  #02f058;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #02f058), color-stop(.4, #01c230), color-stop(.6, #00a30d), to(#016b0b));  
}

.round {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
