<!doctype html>
<html>
<head>
<title>Twitter News</title>

<link rel="stylesheet" href="static/css/original.css"/>

<script type="text/javascript" src="static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="static/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="static/js/jquery.wordcloud.js"></script>
<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="static/js/jquery.mousewheel.min.js"></script>

<script src="https://www.google.com/jsapi?key=ABQIAAAAVq_ezpCP6r9ct3n9o8VV4hRqSHJGvvNPApRNCRW5oia_vxvJeRS6Bcd_ACwcm1qSmZcU7cSDOrqt6Q" type="text/javascript"></script>

<script type="text/javascript">

google.load("search", "1");
function boxSearch(boxnum) {
  return function(searcher) {
    if (searcher.results && searcher.results.length > 0) {
      var results = searcher.results;
      var i = 0;
      
        var result = results[i];
        var src = result.url;
        
      $("#bp"+boxnum).attr('src',src);
      $("#bp"+boxnum).attr('onError', 'backupUrl('+boxnum+',"'+result.tbUrl+'");');
    }
  }
}

function backupUrl(boxnum, url) {
  $("#bp"+boxnum).attr('src',url);
}

function addBox(id) {
  box = ""
  + "<div id='b" + id + "' class='box col' onClick='boxClick(" + id + ");'>"
  +   "<div id='btc" + id + "' class='boxw scrollbox' style='width:190px; height:130px;'>"
  +     "<div class='customScrollBox'>"
  +       "<div class='container'>"
  +         "<div id='bt" + id + "' class='content'><h2>Title</h2><p>Summary</p></div>"
  +       "</div>"
  +       "<div class='dragger_container'><div class='dragger'></div></div>"
  +     "</div>"
  +   "</div>"
  +   "<div class='boxw' style='width:190px; height:130px; float:right;'><div style='width:190px; height:130px; overflow:hidden;'><img id='bp" + id + "' style='width:190px; min-height:130px' src='static/images/twitter.png'></div></div>"
  +   "<div class='boxw' style='width:190px; height:60px;'>Sentiment</div>"
  +   "<div id='btwc" + id + "' class='boxw scrollbox2' style='width:190px; height:250px; float:right'>"
  +     "<h2>Recent Tweets:</h2><div class='customScrollBox'>"
  +       "<div class='container'>"
  +         "<div id='btw" + id + "' class='content'></div>"
  +       "</div>"
  +       "<div class='dragger_container'><div class='dragger'></div></div>"
  +     "</div>"
  +   "</div>"
  +   "<div class='boxw' style='width:190px; height:170px;'><canvas id='bwc" + id + "' width='190' height='170'></div>"
  + "</div>";
  $("#container").append(box);
}

function changeBox(boxnum) {
    return function(data) {
      if (!document.getElementById("b" + boxnum)) { 
        addBox(boxnum);
        $('#container').masonry('reload');
      }
      $("#bt"+boxnum).html("<h2>" + data.title + "</h2><p>" + data.summary + "</p>");
      $("#btc"+boxnum).mCustomScrollbar("vertical",300,"easeOutCirc",1.05,"fixed","yes","no",1);
      
      var cloud = new Array();
      for(var i in data.wordcloud) {
        cloud.push([i, data.wordcloud[i]*12]);
      }
      if(cloud.length == 0) {
        cloud.push(['none', 30]);
      }
      $("#bwc"+boxnum).wordCloud({wordList: cloud});
      
      var imageSearch = new google.search.ImageSearch();
      //imageSearch.setRestriction(google.search.ImageSearch.RESTRICT_IMAGESIZE, google.search.ImageSearch.IMAGESIZE_MEDIUM);
      imageSearch.setSearchCompleteCallback(this, boxSearch(boxnum), [imageSearch]);

      imageSearch.execute('"' + data.title + '"');

      if(data.keywords.length > 0)
        $.ajax({type: "GET", url: "http://search.twitter.com/search.json?q="+data.keywords[0]+"&rpp=10&result_type=mixed", dataType: "jsonp", success: parseTweets(boxnum)});
    }
}

function parseTweets(boxnum) {
  return function(data) {
    for(i = 0; i < data.results.length; i++) {
      var box = "<p style='width:inherit;'><strong>" + data.results[i].from_user + ":</strong> " + data.results[i].text + "</p>"
      $("#btw"+boxnum).append(box);
    }
    setTimeout($("#btwc"+boxnum).mCustomScrollbar("vertical",300,"easeOutCirc",1.05,"fixed","yes","no",1),1000);
  }
}

function boxClick(boxnum) {
  console.log("Goto Full Story: "+boxnum);
}

$(document).ready(function() {
  $('#container').masonry({
    // options
    itemSelector : '.box',
    isAnimated: true,
    isFitWidth: true
  });
  
  $.getJSON("api/news", function(data) {
    for(i = 0; i < data.news.length; i++) {
      $.getJSON("api/story/"+data.news[i], changeBox(i));
    }
  });
});

</script>

</head>
<body>

<div id="container" class="centered">
</div>

<script type="text/javascript" src="static/js/jquery.mCustomScrollbar.js"></script>

</body>
</html>
