
/**** Demos ****/

#currentNews {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  /*clear: both;*/
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.centered { margin: 0 auto; }

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.boxw {
  margin: 5px;
  padding: 5px;
  background: #FFFFFF;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box h2 {
  font-size: 20px;
  font-weight: 200;
}
/*
.box img,
#tumblelog img {
  display: block;
  width: 100%;
}
*/

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

